<mat-toolbar color="primary" class="header" >
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    
    <span>Drone Platform</span>

    <span class="example-spacer"></span>
    
    <!-- home button -->
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> -->
    <button mat-button routerLinkActive="active" [routerLink]="['/home']" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    
    <!-- account button -->
    <mat-icon>account_circle</mat-icon>
    <button mat-button  *ngIf="!loginService.loggedIn" [matMenuTriggerFor]="account">Log in</button>
    <button mat-button  *ngIf="loginService.loggedIn" [matMenuTriggerFor]="account">Account</button>
    <mat-menu #account="matMenu">
      <button mat-menu-item (click)="register()" *ngIf="!loginService.loggedIn">Register</button>
      <button (click)="login()" mat-menu-item *ngIf="!loginService.loggedIn">Login</button>
      <button mat-menu-item (click)="viewProfile()" *ngIf="loginService.loggedIn">Profile</button>
      <button mat-menu-item (click)="logout()" *ngIf="loginService.loggedIn">Log Out</button>
    </mat-menu>

    <!-- <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown"> -->
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="language">Language</button>
      <!-- </a> -->
      <mat-menu #language="matMenu">
        <button (click)="changeLanguage('en')" mat-menu-item>English</button>
        <button (click)="changeLanguage('ch')" mat-menu-item>Chinese</button>
      </mat-menu>
     
</mat-toolbar>

