<mat-toolbar color="primary" class="header" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Drone Platform</span>

    <span class="example-spacer"></span>
    
    <!-- home button -->
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    
    <!-- account button -->
    <mat-icon>account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="account">Account</button>
    <mat-menu #account="matMenu">
    <button mat-menu-item (click)="register()">Register</button>
    <button (click)="login()" mat-menu-item>Login</button>
    </mat-menu>

    <!-- <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown"> -->
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="language">Language</button>
      <!-- </a> -->
      <mat-menu #language="matMenu">
        <button (click)="changeLanguage(language)" mat-menu-item>English</button>
        <button (click)="changeLanguage(language)" mat-menu-item>Chinese</button>
      </mat-menu>
     
     
     
     
     <!--  <ul class="dropdown-menu" ngbDropdownMenu>
        <li *ngFor="let language of languages">
          <a
            class="dropdown-item"
            [jhiActiveMenu]="language"
            href="javascript:void(0);"
            (click)="changeLanguage(language); collapseNavbar()"
            >{{ language | findLanguageFromKey }}</a
          >
        </li>
      </ul>
    </li> -->

    <!-- <ng-template ngIf="true">    // automatically dropdown
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu"
      #matMenuTrigger="matMenuTrigger" 
      (mouseenter)="matMenuTrigger.openMenu()" 
      >Home</button>
      <mat-menu #menu="matMenu"   [overlapTrigger]="false">
        <div (mouseleave)="matMenuTrigger.closeMenu()">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <button mat-menu-item>Item 3</button>
          <button mat-menu-item>Item 4</button>
          <button mat-menu-item>Item 5</button>
        </div>
      </mat-menu>
    </ng-template> -->
</mat-toolbar>