
  <mat-form-field class="search" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-card  class="card-1">
     <mat-card-title>Site Surveying</mat-card-title>
    <div fxLayout="row">
     <mat-card  fxLayoutGap="20px"  class="pic1">
        <img mat-card-image  src="../../assets/image/sitesurveydrone.jpg">
       <mat-card-actions>
         <button mat-raised-button (click)="view()" color="primary">View</button>
       </mat-card-actions>
     </mat-card>
     <mat-card fxLayoutGap="20px"  class="pic1">
        <img mat-card-image  src="../../assets/image/sitesurveydrone1.jpg">
     </mat-card>
     <mat-card fxLayoutGap="20px" class="pic1">
         <img mat-card-image  src="../../assets/image/41a53cd3b3b8ebe1dd0ad80487c28d4e.jpg">
     </mat-card>
    </div>
  </mat-card>

  <mat-card  class="card-1">
    <mat-card-title>Videography</mat-card-title>
   <div fxLayout="row">
    <mat-card  fxLayoutGap="20px"  class="pic1">
       <img mat-card-image  src="../../assets/image/123.png">
      <mat-card-actions>
        <button mat-raised-button (click)="view()" color="primary">View</button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxLayoutGap="20px"  class="pic1">
       <img mat-card-image  src="../../assets/image/456.jpg">
    </mat-card>
    <mat-card fxLayoutGap="20px" class="pic1">
        <img mat-card-image  src="../../assets/image/sitesurveydrone.jpg">
    </mat-card>
   </div>
 </mat-card>