<form action="https://uat.kiplepay.com/wcgatewayinit.php" method="post">
    <input type="hidden" name="ord_date" value="11 November 2010">
    <input type="text" name="ord_totalamt" value="100.00" />
    <input type="text" name="ord_gstamt" value="0.00" />
    <input type="hidden" name="ord_shipname" value="John Doe">
    <input type="hidden" name="ord_shipcountry" value="Malaysia">
    <input type="hidden" name="ord_mercref" value="Order0909032219">
    <input type="hidden" name="ord_telephone" value="0172222222">
    <input type="hidden" name="ord_email" value="demo@xyz.com.my">
    <input type="hidden" name="ord_delcharges" value="0.00">
    <input type="hidden" name="ord_svccharges" value="0.00">
    <input type="text" name="ord_mercID" value="80000321">
    <input type="text" name="merchant_hashvalue" value="187d8cf8b17161772524c6288ecd69885c862dc1">
    <input type="hidden" name="ord_returnURL" value="http://yourdomain.com.my/return.php">
    <input type="submit" name="submit" value="Pay with kiplePay">
</form>
