
<div class="main-content">
    <div class="container-fluid">
        <div>
            <button mat-fab color="accent" (click)="createDrone()" style="position: fixed; bottom: 5%; right: 5%; z-index: 99;">
                <mat-icon>add</mat-icon>
              </button>
        </div>
        <div class="row">
            <agm-map [latitude]='lat' [longitude]='long'>
                <agm-marker [latitude]="lat" [longitude]="long">
                </agm-marker>
            </agm-map>
        </div>
        <div class="row">
            <button mat-raised-button style="margin:1%;" color="accent" (click)="videoStream()">Camera Stream</button>
            <button mat-raised-button style="margin:1%;" color="accent" (click)="downloadFile()">Config File</button>
            <button mat-raised-button style="margin:1%;" color="accent" (click)="downloadInstallationScript()">Installation Script</button>
            <div class="row" style="margin-left: auto; margin-right: 1%; margin-top: 1%;">
                <button mat-raised-button color="warn" (click)="takeOff()">Take Off</button>
                <button mat-raised-button color="warn" (click)="landing()">Landing</button>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div [ngClass]="{'card-header card-header-icon' : true, 'card-header-danger': latestStatus&&!latestStatus['armable'], 'card-header-success': latestStatus&&latestStatus['armable']}">
                        <div class="card-icon">
                            <i class="material-icons"><mat-icon svgIcon="drone" style="width: 45px; height: 45px;"></mat-icon></i>
                        </div>
                        <p class="card-category">Armable</p>
                        <h3 class="card-title" *ngIf="latestStatus"><b>{{ latestStatus["armable"]?"Yes":"No" }}</b>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="latestStatus">
                            <i class="material-icons">access_time</i> Last Updated: {{ latestStatus["createdDate"] | date: 'medium'  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div [ngClass]="{'card-header card-header-icon' : true, 'card-header-danger': latestStatus&&!latestStatus['armed'], 'card-header-success': latestStatus&&latestStatus['armed']}">
                        <div class="card-icon">
                            <i class="material-icons"><mat-icon svgIcon="drone_armed" style="width: 45px; height: 45px;"></mat-icon></i>
                        </div>
                        <p class="card-category">Armed</p>
                        <h3 class="card-title" *ngIf="latestStatus"><b>{{ latestStatus["armed"]?"Yes":"No" }}</b></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="latestStatus">
                            <i class="material-icons">access_time</i> Last Updated: {{ latestStatus["createdDate"] | date: 'medium'  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons"><mat-icon svgIcon="mode" style="width: 45px; height: 45px;"></mat-icon></i>
                        </div>
                        <p class="card-category">Mode</p>
                        <h3 class="card-title" *ngIf="latestStatus"><b>{{ latestStatus["mode"] }}</b></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="latestStatus">
                            <i class="material-icons" >access_time</i> Last Updated: {{ latestStatus["createdDate"] | date: 'medium'  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div [ngClass]="{'card-header card-header-icon' : true, 'card-header-danger': droneTelemetries&&!droneTelemetries['status'], 'card-header-success': droneTelemetries&&droneTelemetries['status']}">
                        <div class="card-icon">
                            <i class="material-icons"><mat-icon style="width: 45px; height: 45px;">cell_wifi</mat-icon></i>
                        </div>
                        <p class="card-category">Online Status</p>
                        <h3 class="card-title" *ngIf="droneTelemetries"><b>{{ droneTelemetries["status"]? "Online": "Offline" }}</b></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" *ngIf="latestStatus">
                            <i class="material-icons" >access_time</i> Last Updated: {{ latestStatus["createdDate"] | date: 'medium'  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="range" (change)="onSelectRange($event.value)" style="margin-left: auto; margin-right: 3%;">
                <mat-button-toggle value="Hour">Hour</mat-button-toggle>
                <mat-button-toggle value="Day">Day</mat-button-toggle>
                <mat-button-toggle value="Month">Month</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart" >
                    
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="attitudeChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Yaw, Pitch, Roll</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="velocityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Velocity</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
  