
<div fxLayout="row" fxLayoutAlign="center stretch" style="margin-top: 5%;">
    <div class="col-md-8">
              <div class="card">
              <div class="row">
                <div class="col-md-6">
                  <img class="img" src="../../assets/image/profile" style="width: 100%; height: 100%; overflow:hidden; object-fit: cover;"/>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="row">
                            <h4 class="card-title" >Profile</h4>
                            <button mat-icon-button style="margin-left: auto; margin-right: 1%;" (click)="toggleEdit()" [disabled]="isEditing">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                        
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="username" matInput placeholder="Username" [readonly]="true">
                                    <mat-error *ngIf="form.get('username').hasError('required')">Username is Required</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="email" matInput placeholder="Email" [readonly]="true">
                                    <mat-error *ngIf="form.get('email').hasError('required')">Email is Required</mat-error>
                                    <mat-error *ngIf="form.get('email').hasError('email')">Invalid E-mail format</mat-error>
                                </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="firstName" matInput placeholder="Firstname" [readonly]="!isEditing">
                                    <mat-error *ngIf="form.get('firstName').hasError('required')">Firstname is Required</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="lastName" matInput placeholder="Lastname" [readonly]="!isEditing">
                                    <mat-error *ngIf="form.get('lastName').hasError('required')">Lastname is Required</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" (click)="editProfile()" class="btn btn-danger pull-right" *ngIf="isEditing">Edit</button>
                            <button mat-raised-button type="submit" (click)="toggleEdit()" class="btn btn-danger pull-right" *ngIf="isEditing">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                
              </div>
                
                  
              </div>
          </div>
</div>   