<div fxLayout="row" fxLayoutAlign="center stretch" style="margin-top: 5%" class=suibian>
    
    <mat-card class="example-card" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
         <img mat-card-image src="../../assets/image/service provider.jpg" alt="Photo of a Shiba Inu">
        </div>
         <mat-card-actions fxFlexAlign="center">
           <div fxLayout="row" fxLayoutAlign="center center" >
            <button mat-raised-button (click)="login()" >Provider</button>
           </div>
         </mat-card-actions>
    </mat-card>

    <mat-card class="example-card1" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
             <img mat-card-image src="../../assets/image/123-removebg-preview.png" alt="Photo of a Shiba Inu">
        </div>
             <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <button mat-raised-button  >Client</button>
                </div>
             </mat-card-actions>
    </mat-card>
</div>   